.modal-bg{
    width: 30vw;
    height: 20vh;
    background-color: #FFE6AB;
    margin: auto;
    margin-top: 10%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.modal-bg .modal-dismiss{
    font-size: 1.5rem;
    margin-left: 28vw;
}

.modal-bg .modal-txt{
    font-size: 1.5rem;
    text-align: center;
}